.location-container {

    .state-select,
    .location-select {
        width: 50%;
        min-width: 200px;
        max-width: 400px;
        margin: 0 auto 20px;

        .select__menu {
            color: #282828;
        }
    }

    .btn-container {
        button:first-child {
            margin-right: 10px;
        }
    }

    .btn-cancel {
        min-width: 200px;
        max-width: 400px;
        margin: 10px auto 20px;
    }
}